* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0vw;
}

/* Track */
/* ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eee; 
} */
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 10px;
} */

html {
  width: 100%;
  height: auto;
  font-size: 1vw;
}

body {
  font-family: 'Helvetica';
  scrollbar-width: 0;
  width: 100%;
  height: auto;
}

#logo {
  font-size: 2.5rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1200;
  position: fixed;
  left: 1vw;
  top: 0.8vw;
  color: rgb(0, 0, 0);
}

/* LOADER */
.loader {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #C30F2E;
  color: white;
  text-align: center;
  z-index: 1000;
}

.loading-top {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%)
}

.loading-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.loadImg {
  display: flex;
  justify-content: center;
  margin-top: 0vh;
}

.load-wrap {
  width: 100px;
  margin: 5px;
  position: relative;
}

.load-img1,
.load-img2,
.load-img3,
.load-img4 {
  padding: 5px;
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.6;
  transform: translateX(calc(-100% - 10px));
}

.load-img2,
.load-img3,
.load-img4 {
  visibility: hidden;
}

.color-bar {
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  width: calc(100% - 1px);
  height: 5px;
  z-index: 10;
}

.color1 {
  background: #fdbf4e;
  animation: color 0.8s 0.8s forwards;
}

.color2 {
  background: #e34f71;
  animation: color 0.8s 1.6s forwards;
}

.color3 {
  background: #000;
  animation: color 0.8s 2.4s forwards;
}

@keyframes color {
  20% {
    height: 100%;
  }

  30% {
    height: 100%;
  }

  60% {
    height: 0;
  }

  100% {
    height: 0;
    visibility: hidden;
  }
}

.load-img1 {
  animation: move 0.2s 0.5s forwards;
}

@keyframes move {
  50% {
    transform: translateX(calc(-100% - 10px))
  }

  100% {
    visibility: visible;
    transform: translateX(0)
  }
}

.load-img2 {
  animation: visible 0.8s 0.8s forwards;
}

.load-img3 {
  animation: visible 0.8s 1.6s forwards;
}

.load-img4 {
  animation: visible 0.8s 2.4s forwards;
}

@keyframes visible {
  0% {
    visibility: hidden;
  }

  30% {
    visibility: hidden;
  }

  31% {
    visibility: visible;
  }

  85% {
    transform: translateX(calc(-100% - 10px))
  }

  100% {
    visibility: visible;
    transform: translateX(0)
  }
}

@keyframes opacity {
  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.9;
  }
}

.loading-top img {
  width: 100%;
  display: block;
}

.loading {
  font-size: 1.3rem;
  margin-top: 20px;
}

.load-text {
  transition: transform 30s;
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
  color: #ababab;
}

/* HEADER */
header {
  z-index: 900;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.2vw;
}

#gnb {
  display: flex;
}

#gnb li {
  padding: 0vw 1.5vw;
}

#gnb li a {
  font-size: 1rem;
  display: block;
  padding: 5px 5px;
  color: black;
}

#gnb li a::after {
  content: '';
  transition: all 0.2s;
  width: 0;
  border-bottom: 1px solid black;
  display: block;
}

#gnb li a:hover::after {
  width: 100%;
}

#gnb .active a::after {
  width: 100%;
}

/* FOOTER */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(48, 47, 47);
  opacity: 0.7;
  font-size: 0.95rem;
  text-align: right;
  padding: 5px 10px;
}


/* GALLERY */
#gallery {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(227 195 177);
  position: absolute;
  top: 0;
  left: 0;
  cursor: url(img/hand-leftright.cur), auto;
}

.gallery-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.item {
  position: absolute;
  pointer-events: none;
}

.artwork {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(138, 138, 138, 0.336);
  -webkit-box-shadow: 7px 7px 41px 14px rgba(128, 115, 107, 0.4);
  box-shadow: 7px 7px 41px 14px rgba(128, 115, 107, 0.5);
  transition: transform 0.5s;
}
.artwork:hover {
  transform: scale(1.05);
}
.artImg-s {
  width: 100%;
  display: block;
  margin: auto;
  pointer-events: initial;
  cursor: pointer;
}

.item p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.795);
  padding-top: 0.6rem;
  pointer-events: none;
}

.big-container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  animation: background 0.5s 1 forwards;
  cursor: default;
}

@keyframes background {
  100% {
    background: rgb(29, 27, 27);
  }
}

.img-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
}

.img-wrap img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid rgba(238, 238, 238, 0.541);
}

.text {
  font-size: 1.3rem;
  padding: 0 5vw;
  width: 100%;
  position: absolute;
  bottom: 3vw;
  text-align: right;
  color: rgba(255, 255, 255, 0.788);
}

.closeBtn {
  cursor: pointer;
  color: white;
  font-size: 2.5rem;
  position: absolute;
  top: 11vmin;
  right: 10vmin;
  z-index: 1102;
  opacity: 0.4;
  transition: all 0.4s;
}

.closeBtn:hover {
  transform: rotate(90deg);
  opacity: 0.9;
}

#project,
#about,
#blog {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

#project img,
#about img,
#blog img {
  width: 100%;
  display: block;
}