@charset "utf-8";
*{margin:0; padding:0;}
ul,ol{
	list-style-type:none;
}
a{color:#fff;text-decoration:none;}	

body{ font-family:'Josefin sans', sans-serif;
	font-size:14px; 
	color:#000; 
	line-height:20px;
	background:#ece9e7;
	min-width:1200px;
	cursor: url(../images/.png), auto;
	padding-top:70px;
}
#header_wrap{
	line-height:24px;
	width:100%;
	height:70px;
	position: fixed;
	top: 0;
	display: block;
	transition: top 0.3s;
	background:#000;
	z-index:999999999;
}
#header{
	font-family:'Josefin Slab', sans-serif; 
	width:1200px;
	margin:0 auto;
}
.logo_box{
	width:260px;
	float:left;
	position:relative;
}
#header p{
	background:#600000;
	width:74px;
	line-height:20px;
	font-size:16px; 
	height:70px;
	padding:7px 8px;
	box-sizing:border-box;
}
#header h1{
	position:absolute;
	bottom:0; 
	left:75px;
}
#header h1 a{display:block;}
#header h1 img{width:110px;}
#wrap{
	float:right;
	width:900px;
}
#wrap .util{
	float:right;
}
#wrap .util a{
	color:#ddd;
}
#wrap .util li{
	float:left;
	padding:5px 8px 2px;
}
#gnb{
	float:right;
	padding-top:10px;
}
#gnb>li{
	float:left;
	margin-left:140px;/**/
}
#gnb>li>a{
	display:block;
	font-size:18px;
	padding:5px 13px 0;
}
#gnb li a:hover{
	text-decoration:underline 0.1px #aaa;
}
#gnb>li:nth-child(4) a:hover{
	background:url(../images/arrow1.png) no-repeat right 0px bottom 6px; 
}
.sub_wrap{
	z-index:999999;
	width:100%;
	height:50px;
	position:absolute;
	top:70px;
	left:0;
	background:rgba(0, 0, 0,0.9);
	text-align:center;
}
.submenu{
	width:1200px;
	height:50px;
	box-sizing:border-box;
	margin:0 auto;
	position:relative;
	text-align:center;
}
.submenu li{
	padding:13px 20px;
}
/****/
.submenu .sub1{
	position:absolute;
	top:0;
	left:289px;	
}
.submenu .sub2{
	position:absolute;
	top:0;
	left:497px;	
}
.submenu .sub3{
	position:absolute;
	top:0;
	left:749px;	
}
.submenu ul li{
	float:left;
}
.submenu ul li a{
	padding:5px 25px;
}
/**about director**/
#about01 img{
	width:100%;
	display:block;
}

#about01{
	width:100%;
	background:#000;
	padding-top:50px;
	position:relative;
	overflow:hidden;
}	
#about01 p{width:100%;
}

.slide01 img{
	animation:motion 25s linear infinite;
}
@keyframes motion{
	0%{transform:translateX(0);}
	100%{transform:translateX(100%);}
}
#about01 .slide02{
	position:absolute;
	left:2px;
	top:50px;
}
.slide02 img{
	animation:motion1 25s linear backwards infinite;
}
@keyframes motion1{
	0%{transform:translateX(-100%);}
	100%{transform:translateX(0);}
}
.autobox01{
	width:1200px;
	margin:0 auto;
	height:640px;
	box-sizing:border-box;
	color:#fff;
	position:relative;
}
.txt{width:540px;}
.txt h4{
	float:left;
	width:78px;
	height:78px;
	border:1.5px solid #920227;
	box-sizing:border-box;
	border-radius:50%;
	text-align:center;
	font-size:22px;
	padding-top:30px;
}
.txt dl{
	float:right;
	width:430px;
	padding-top:30px;
	text-align:justify;
}
.txt dl dt{
	font-size:22px;
	font-weight:500;
	padding-bottom:18px;
}
.txt01{
	position:absolute;
	left:0;
	top:40px;
}
.txt02{
	position:absolute;
	right:15px;
	top:68px;
}
.txt03{
	position:absolute;
	left:120px;
	top:340px;
}
.autobox01 .logod{
	width:165px;
	position:absolute;
	right:0px;
	bottom:20px;
}
#about02>p>img{
	width:100%;
	display:block;
}
#about02{
	width:100%;
	padding:20px 0 70px;
	position:relative;
	overflow:hidden;
	box-sizing:border-box;
}
#about02>p{width:100%;
}

.slide03 img{
	animation:motion2 25s linear infinite;
}
@keyframes motion2{
	0%{transform:translateX(0);}
	100%{transform:translateX(-100%);}
}
.slide04{
	position:absolute;
	left:-1px;
	top:20px;
}
.slide04 img{
	animation:motion3 25s linear backwards infinite;
}
@keyframes motion3{
	0%{transform:translateX(100%);}
	100%{transform:translateX(0);}
}
.autobox02{
	width:1200px;
	margin:0 auto;
}
.suna{
	width:1200px;
	margin:0 auto;
	height:625px;
	padding:45px 10px;
	position:relative;
	box-sizing:border-box;
}
.suna>div{
	float:left;
}

.suna .imgbox{
	width:333px;
	height:420px;
	border:1px solid #aaa;
	padding-top: 20px;
  box-sizing: border-box;
}
.imgbox img {
	display: block;
	width: 100%;
}
.imgbox div{
	width:270px;
	height:250px;
	background:#bababa;
	position:absolute;
	left:100px;
	top:255px;
	z-index:-1;
}
.suna .txtbox{
	line-height:26px;
	height:570px;
	width:840px;
	padding:0 50px 0 80px;
	box-sizing:border-box;
	text-align:justify;
}
.txtbox h2{
	font-family:'Josefin Slab', sans-serif;
	font-size:60px;
	padding-bottom:30px;
}
.txtbox p{
	font-family:sans-serif;
	padding-top:10px;
	font-size:16px;
}
.txtbox dl{
	width:550px;
	font-size:16px;
}
.txtbox dt{
	font-weight:bold;
	padding:20px 0 0;
}
.txtbox dd{
	float:left;
	padding:3px 15px 0 5px;
	
}
.suna>img{
	position:absolute;
	right:0;
	top:330px;
	width:250px;
}
.suna>i{
	position:absolute;
	left:10px;
	bottom:-15px;
	font-size:15px;
}
#about02 h3{
	font-family:'Playfair Display', serif;
	font-size:30px;
	padding:80px 0 40px;
	text-align:center;
}
.edu{
	border-top:1px solid #fff;
	position:relative;
}
.edu>img{
	position:absolute;
	right:200px;
	top:-100px;
}
.accordion {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 16px;
  transition: 0.4s;
  background:none;
  border-bottom:1px solid #fff;
}
.accordion img{
	padding:0 20px;
}
.accordion p{
	width: 100%;
	height:60px;
	padding:18px;
	box-sizing:border-box;
	font-size:18px;
}
.accordion p:hover {
  transform:translateX(30px);
  transition: transform 0.5s ease-out;
}

.panel{
	padding:0 18px;
	background-color: rgba(255,255,255,0.6);
	max-height:0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
.panel ul{
	padding:20px 18px;
	
}
.panel li{
	float:left;
	list-style-type:disc;
	padding:0 40px 0 0;
}
.panel p{

	padding:20px 0 20px 20px;
}

.hobby{
	width:1230px;
	padding-top:40px;
}
.hobby li{
	float:left;
	width:215px;
	height:215px;
	border-radius:50%;
	background:#eab3b3;
	margin:0 15px;
	overflow:hidden;
	position:relative;
	perspective:35px;
}
.n1{
	position:absolute;
	z-index:999999;
	left:0;
	bottom:0;
	animation:sewing1 1s linear infinite;
}
@keyframes sewing1{
	0%{bottom:5px;}
	50%{bottom:0px;}
	100%{bottom:5px;}
}
.hobby li:nth-child(2) p{
	transform: rotateX(24deg);
	position:absolute;
	left:-150px;
	bottom:-280px;
}
.hobby li:nth-child(4) img{
	position:absolute;
	left:0;
	right:0;
}
.n3{
	animation:latte 2s ease-out infinite;
}
@keyframes latte{
	0%{opacity:1;}
	50%{opacity:0.3;}
	100%{opacity:1;}
}
.n2{
	animation:sewing2 2s linear infinite;
}
@keyframes sewing2{
	0%{transform: translatey(-200px);}
	50%{transform: translatey(-180px);}
	100%{transform: translatey(-200px);}
}

#about03>p>img{
	width:100%;
	display:block;
}
#about03{
	width:100%;
	padding:20px 0;
	position:relative;
	overflow:hidden;
	box-sizing:border-box;
	background:#000;
}
#about03>p{width:100%;
}
#about03 .slide02{
	position:absolute;
	left:2px;
	top:20px;
}
.autobox03{
	width:1200px;
	margin:0 auto;
	color:#fff;
	padding:40px 30px 0;
	text-align:center;
	box-sizing:border-box;
}
.autobox03>p{
	font-size:18px;
	padding:20px;
}
.autobox03 h4{
	font-size:20px;
	padding-top:10px;
}
.autobox03 h3{
	font-family:'Playfair Display', serif;
	font-size:30px;
	padding:40px 0;
	text-align:center;
}
.leftbox{
	width:555px;
	height:587px;
	float:left;
	border:5px solid #bababa;
	box-sizing:border-box;
	padding:30px;
	text-align:left;
}
.rightbox{
	margin-top:65px;
	width:555px;
	height:587px;
	float:right;
	border:5px solid #bababa;
	box-sizing:border-box;
	padding:20px 30px; 
	text-align:justify;
	font-size:16px;
}
.rightbox p{
	padding-top:30px;
}

#footer_wrap{
	line-height:22px;
	width:100%;
	border-top:1px solid rgba(255,255,255,0.5);
	background:#000;
}
#footer{
	font-family:'Josefin Slab', sans-serif; 
	padding:30px 0 20px;
	width:1200px;
	height:210px;
	margin:0 auto;
	color:#fff;
	position:relative;
	box-sizing:border-box;
}
#footer a{
	display:inline-block;
}
#footer img{
	display:inline-block;
}
#footer ul{
	float:left;
	width:33.3%;
}
#footer ul li:nth-child(2){
	padding:5px 0 25px;
}
#footer .info{
	float:left;
}
#footer .icon{
	width:20%;
	float:right;
}
#footer dl dt{
	font-size:16px;
	font-weight:900;
	letter-spacing:1px;
}
#footer dd{
	font-family:'Josefin Sans';
	padding-bottom:10px;
}
.info dt{
	padding-bottom:30px;
}
.icon dt{
	padding-bottom:25px;
}
.icon dd{
	float:left;
	width:40px;
	height:40px;
	padding-right:20px;
}
.icon img{width:100%;}
.icon a:hover{
	opacity:0.6;
}
#footer p{
	clear:both;
	position:absolute;
	right:0;
	bottom:34px;
	font-size:12px;
}

